*.pyc

# Packages
*.egg*
*.egg-info
dist
build

# Unit test / coverage reports
cover/
.coverage*
!.coveragerc
.tox
.stestr/
.venv

# Mr Developer
.project
.pydevproject

# pbr generates these
AUTHORS
ChangeLog

# Editors
*.swp
*~

# Files created by releasenotes build
releasenotes/build
